<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Blog</h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">We use an agile approach to test assumptions and
        connect with the needs of your audience early and often.</p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      @for (post of visiblePost(); track post.id) {
        <app-blog-item [post] = "post"></app-blog-item>
      }
    </div>

    <!--PAGINATION-->
    <div class="flex flex-col items-center mt-10">
      <!-- Help text -->
      <span class="text-sm text-gray-700 dark:text-gray-400">
          Showing
          <span class="font-semibold text-gray-900 dark:text-white">{{currentPage()}}</span> to
          <span class="font-semibold text-gray-900 dark:text-white">{{POSTS_PER_PAGE}}</span> of
          <span class="font-semibold text-gray-900 dark:text-white">{{posts().length}}</span> Entries
        </span>
      <div class="inline-flex mt-2 xs:mt-0">
        <!-- Buttons -->
        <button
          class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50"
          [disabled]="currentPage() === 1"
          (click)="prevPage()">
          <svg aria-hidden="true" class="w-3.5 h-3.5 me-2 rtl:rotate-180" fill="none"
               viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 5H1m0 0 4 4M1 5l4-4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
          Prev
        </button>
        <button
          class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50"
          [disabled]="currentPage() === Math.ceil(posts().length / POSTS_PER_PAGE)"
          (click)="nextPage()">
          Next
          <svg aria-hidden="true" class="w-3.5 h-3.5 ms-2 rtl:rotate-180" fill="none"
               viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5h12m0 0L9 1m4 4L9 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
